## Understanding Data and fill any missing values

In [1]:
import pandas as pd
df = pd.read_parquet('0000.parquet')
df.head()

,hotel_name,hotel_description,review_title,review_text,rate,tripdate,hotel_url,hotel_image,price_range,rating_value,review_count,street_address,locality,country
0,Romance Istanbul Hotel,Romance Istanbul Hotel has 39 rooms.Every room...,"An exceptional boutique hotel, great value for...",None,NaN,February 2020,https://www.tripadvisor.com/Hotel_Review-g2939...,https://media-cdn.tripadvisor.com/media/photo-...,$ (Based on Average Nightly Rates for a Standa...,5.0,4023,Hudavendigar Cd. No:5 Sirkeci,Istanbul,Turkiye
1,Romance Istanbul Hotel,Romance Istanbul Hotel has 39 rooms.Every room...,You can’t get better than this.,None,NaN,March 2021,https://www.tripadvisor.com/Hotel_Review-g2939...,https://media-cdn.tripadvisor.com/media/photo-...,$ (Based on Average Nightly Rates for a Standa...,5.0,4023,Hudavendigar Cd. No:5 Sirkeci,Istanbul,Turkiye
2,Romance Istanbul Hotel,Romance Istanbul Hotel has 39 rooms.Every room...,Exceeds all expectations,None,NaN,March 2021,https://www.tripadvisor.com/Hotel_Review-g2939...,https://media-cdn.tripadvisor.com/media/photo-...,$ (Based on Average Nightly Rates for a Standa...,5.0,4023,Hudavendigar Cd. No:5 Sirkeci,Istanbul,Turkiye
3,Romance Istanbul Hotel,Romance Istanbul Hotel has 39 rooms.Every room...,"Great Location, Fantastic Accommodations",None,NaN,August 2021,https://www.tripadvisor.com/Hotel_Review-g2939...,https://media-cdn.tripadvisor.com/media/photo-...,$ (Based on Average Nightly Rates for a Standa...,5.0,4023,Hudavendigar Cd. No:5 Sirkeci,Istanbul,Turkiye
4,Romance Istanbul Hotel,Romance Istanbul Hotel has 39 rooms.Every room...,Perfection. It is all in the details.,None,NaN,June 2021,https://www.tripadvisor.com/Hotel_Review-g2939...,https://media-cdn.tripadvisor.com/media/photo-...,$ (Based on Average Nightly Rates for a Standa...,5.0,4023,Hudavendigar Cd. No:5 Sirkeci,Istanbul,Turkiye

In [2]:
df = df.drop_duplicates()

In [3]:
df.describe()

              rate  rating_value  review_count
count  4867.000000   5997.000000   5997.000000
mean      4.368810      4.446640   3380.770885
std       1.172449      0.432757   3771.730100
min       1.000000      3.000000     39.000000
25%       4.000000      4.000000    962.000000
50%       5.000000      4.500000   2053.000000
75%       5.000000      5.000000   4595.000000
max       5.000000      5.000000  24877.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5997 entries, 0 to 5996
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hotel_name         5997 non-null   object
 1   hotel_description  5197 non-null   object
 2   review_title       5997 non-null   object
 3   review_text        4867 non-null   object
 4   rate               4867 non-null   float64
 5   tripdate           5997 non-null   object
 6   hotel_url          5997 non-null   object
 7   hotel_image        5997 non-null   object
 8   price_range        5997 non-null   object
 9   rating_value       5997 non-null   float64
 10  review_count       5997 non-null   int64
 11  street_address     5997 non-null   object
 12  locality           5997 non-null   object
 13  country            5997 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 656.0+ KB

In [5]:
df.isnull().sum()

hotel_name              0
hotel_description     800
review_title            0
review_text          1130
rate                 1130
tripdate                0
hotel_url               0
hotel_image             0
price_range             0
rating_value            0
review_count            0
street_address          0
locality                0
country                 0
dtype: int64

In [6]:
df['hotel_description'][0]

'Romance Istanbul Hotel has 39 rooms.Every room is elegantly furnished and harmonizes the modern life style with the traditional Ottoman touch. Romance Istanbul sits at the intersection of the old city’s most important part. With its luxuriously inspiring design and landmark old city location, steeped in the history of its surroundings, Romance Istanbul Hotel welcomes you with exceptional designed rooms and world-renowned Turkish hospitality. Our colleagues deliver the most personal service. It is perfectly placed and perfectly designed to enhance all that Istanbul has to offer. Each room offers a private bathroom and shower. Each is equipped with a satellite TV and free wifi connection. The rooms size change between 20 m2 and 45 m2. It includes 7 suite rooms: 1 Royal Suite, 4 Grand Suite, 1 Romance Suite and 1 Premium Suite, 2 Luxury Room With Terrace, 22 Deluxe Room, 8 City Room.'

In [7]:
null_descriptions = df[df['hotel_description'].isna()]
null_descriptions['hotel_name'].unique()

array(['Primero Hotel', 'Beacon Grand A Union Square Hotel',
       'Hilton San Francisco Financial District',
       'Cow Hollow Inn and Suites',
       'Parc 55 San Francisco - a Hilton Hotel',
       'Park Grand London Hyde Park', 'Travelodge London City hotel',
       'Leonardo Royal Hotel London Tower Bridge',
       'Travelodge London Docklands Central',
       'Travelodge London Central Kings Cross', 'Travelodge London Excel',
       'Travelodge London Central City Road', 'Royal National Hotel',
       'Palmers Lodge Swiss Cottage',
       'Tempo by Hilton New York Times Square',
       'Park Central Hotel New York', 'Hilton New York Times Square',
       'Hotel La Comtesse', 'Hotel B55', 'Citadines Tour Eiffel Paris'],
      dtype=object)

In [8]:
df['hotel_description'] = df['hotel_description'].fillna('No Description Available')

In [9]:
df['rating_value'].unique()

array([5. , 4.5, 4. , 3. , 3.5])

In [10]:
unique_review_counts = df.groupby('hotel_name')['review_count'].unique()
unique_review_counts

hotel_name
AJWA Sultanahmet                                [625]
Ace Hotel New York                             [2525]
Ameritania At Times Square                     [7569]
Argonaut Hotel                                 [7814]
Arlo SoHo                                      [2900]
                                                ...
Wyndham Grand Istanbul Kalamis Marina Hotel    [1461]
Wyndham Istanbul Oldcity                       [1125]
YOTEL Istanbul Airport Hotel (Landside)         [948]
citizenM Paris Champs-Elysees                   [269]
ibis London Canning Town                        [786]
Name: review_count, Length: 150, dtype: object

In [11]:
df[['hotel_name', 'rating_value', 'rate' , 'review_count']].sample(10)

,hotel_name,rating_value,rate,review_count
2358,Parc 55 San Francisco - a Hilton Hotel,4.0,5.0,3911
4785,The FIDI Hotel,4.5,3.0,39
1108,InterContinental Istanbul,4.5,NaN,2412
5976,Hotel Campanile Paris Bercy Village,4.0,4.0,1625
1370,LUMA Hotel San Francisco,4.5,NaN,603
2079,San Francisco Marriott Fisherman's Wharf,4.0,4.0,1878
3869,The Bryant Park Hotel,4.5,5.0,5037
540,Sirkeci Mansion,5.0,5.0,3648
3376,"Holiday Inn London - West, an IHG Hotel",4.5,5.0,1372
5223,Hotel 34B - Astotel,5.0,4.0,3399

In [12]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=3)
columns_to_impute = ['rating_value', 'review_count', 'rate']
df[columns_to_impute] = imputer.fit_transform(df[columns_to_impute])
df[columns_to_impute] = df[columns_to_impute].round(2)

In [13]:
df[['hotel_name', 'rating_value', 'rate' , 'review_count']].sample(10)

,hotel_name,rating_value,rate,review_count
5634,Citadines Tour Eiffel Paris,4.0,5.00,471.0
4736,The Empire Hotel,3.5,5.00,8748.0
5446,citizenM Paris Champs-Elysees,4.5,5.00,269.0
5867,Hotel du Printemps,4.5,5.00,1142.0
494,Mula Hotel,5.0,5.00,197.0
2425,Park Grand London Hyde Park,4.5,5.00,4166.0
1184,Elite World Grand İstanbul Basın Ekspres,4.0,4.33,219.0
1742,Hotel Nikko San Francisco,4.0,5.00,4693.0
4848,Hotel Astoria - Astotel,4.5,5.00,2427.0
4365,Courtyard by Marriott New York Manhattan / Mid...,4.5,5.00,3058.0

In [14]:
df.iloc[1070]

hotel_name                     YOTEL Istanbul Airport Hotel (Landside)
hotel_description    Istanbul Airport is home both to YOTEL, offeri...
review_title                               Complete and utter rip off!
review_text          Stayed here for convenience  High price - €290...
rate                                                               1.0
tripdate                                                  October 2023
hotel_url            https://www.tripadvisor.com/Hotel_Review-g2939...
hotel_image          https://dynamic-media-cdn.tripadvisor.com/medi...
price_range          $$ (Based on Average Nightly Rates for a Stand...
rating_value                                                       4.0
review_count                                                     948.0
street_address               Terminal Caddesi No 1 Tayakadin Mahallesi
locality                                                      Istanbul
country                                                        Türkiye
Name: 1070, dtype: object

In [15]:
df.isnull().sum()

hotel_name              0
hotel_description       0
review_title            0
review_text          1130
rate                    0
tripdate                0
hotel_url               0
hotel_image             0
price_range             0
rating_value            0
review_count            0
street_address          0
locality                0
country                 0
dtype: int64

---

In [16]:
df['combined_review_rating'] = df.apply(lambda row: f"Rating: {row['rate']}, Title: {row['review_title']}", axis=1)

In [17]:
df[['rate', 'review_title', 'combined_review_rating']].sample(5)

,rate,review_title,combined_review_rating
2882,1.0,It’s a Big No !,"Rating: 1.0, Title: It’s a Big No !"
1781,3.0,Average,"Rating: 3.0, Title: Average"
5628,3.0,"Fab location , decent stay .","Rating: 3.0, Title: Fab location , decent stay ."
4672,5.0,Amazing historic hotel with a lot of charm.,"Rating: 5.0, Title: Amazing historic hotel wit..."
4680,5.0,Great Hotel!,"Rating: 5.0, Title: Great Hotel!"

In [18]:
print(df['combined_review_rating'].sample())

1515    Rating: 5.0, Title: Above and Beyond Customer ...
Name: combined_review_rating, dtype: object

In [19]:
import openai
import os
openai.api_key = "#"

In [20]:
import openai

def generate_review(combined_review_rating):
    """
    Generates a hotel review based on the provided combined review rating using GPT-3.5-turbo or GPT-4-turbo.

    Parameters:
    - combined_review_rating (str): A string containing the combined review rating information to be used for generating the review.

    Returns:
    - str: A concise review text based on the provided rating and title, reflecting the overall information without directly mentioning them.
    
    Raises:
    - ValueError: If the combined_review_rating is empty.
    - openai.error.OpenAIError: If an error occurs during the API request.
    """
    
    if not combined_review_rating.strip():
        raise ValueError("The 'combined_review_rating' parameter cannot be empty.")
    
    prompt = (
        "Generate a brief hotel review based on the following combined review rating information. "
        "The review should reflect the overall experience described by the rating and title without mentioning them explicitly."
        "\n\n"
        f"{combined_review_rating}"
    )

    try:
        response = openai.ChatCompletion.create(
            model="gpt-3.5-turbo", 
            messages=[
                {"role": "system", "content": "You are a helpful assistant specializing in generating concise and descriptive hotel reviews."},
                {"role": "user", "content": prompt}
            ],
            max_tokens=35,  
            temperature=0.5 
        )
        
        review_text = response['choices'][0]['message']['content'].strip()
        return review_text
    
    except openai.error.OpenAIError as e:
        return f"An error occurred while generating the review: {e}"

In [21]:
def fill_missing_reviews(df):
    """
    Generate and fill in missing review_text for rows where review_text is NaN using combined_review_rating from a new column.
    
    Parameters:
    - df (pd.DataFrame): DataFrame containing the columns 'review_text' and 'combined_review_rating'.
    
    Returns:
    - pd.DataFrame: Updated DataFrame with missing review_text filled.
    """
    
    if 'review_text' not in df.columns or 'combined_review_rating' not in df.columns:
        raise ValueError("DataFrame must contain 'review_text' and 'combined_review_rating' columns.")
    
    for index, row in df[df['review_text'].isna()].iterrows():
        combined_review_rating = row['combined_review_rating']
        if pd.notna(combined_review_rating):
            try:
                generated_review = generate_review(combined_review_rating)
                df.at[index, 'review_text'] = generated_review
            except ValueError as ve:
                print(f"ValueError for index {index}: {ve}")
            except openai.error.OpenAIError as oe:
                print(f"OpenAIError for index {index}: {oe}")
    
    return df

In [22]:
%%time
df = fill_missing_reviews(df)

CPU times: user 3.23 s, sys: 175 ms, total: 3.41 s
Wall time: 21min 14s

In [23]:
df.to_csv('ClenedTraversall.csv', index=False)